{% extends 'main.html' %}
{% block body %}
<div class="content">
 
    <table>
        <tr>
            <th>Tasks</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in all_tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
   
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.content }}
            {{ form.submit }}
            <br>
            <br>
        {{ message }}
        </form>
    </div>
</div>
{% endblock body %}