{% extends 'main.html' %}
{% block body %}
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<div class="content">
    <table style="width:50%">
        <tr>
            <th><h2>Task</h2></th>
            <th><h2>Date Added<h2></th>
            <th><h2>Actions<h2></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td></td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="form">
        <form action="">
            {{ form.hidden_tag() }}
            {{form.task}}
            {{form.submit}}
        </form>

    </div>
    

</div>
{% endblock body %}